<div class="ui container">
<table>
<tr >
  <td ><h3><%= link_to "Problem Set2",quotation_path %></h3></td>
  <td >
    <ol><li><h4><%= link_to "PS2",quotation_path %></h4></li><br/>
      <h4><li><%= link_to "SQL", sql_path %></li></h4>
      <h4><li><%= link_to "Sample-data", sql1_path %></li></h4></ol></td>
  <td >
    <h4><ol>
      <li>Created a Quotaions and added a drop down box to it .importing Database into Xml file and by uploading a xml file it added to Data base</li>
      <!--        <li>Inthe Secound one i we did all about scraping the data from the AIT main website(ait.ac.th).We brought the titles,pics and given the links to the pics too.</li>-->
    </ol></h4>
  </td>
</tr>
</table>
</div>