<!--<p id="notice"><%#= notice %></p>-->

<!--<h1>Items</h1>-->

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Description</th>-->
<!--      <th>Category</th>-->
<!--      <th>Price</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
    <%# @items.each do |item| %>
<!--      <tr>-->
<!--        <td><%#= item.name %></td>-->
<!--        <td><%#= item.description %></td>-->
<!--        <td><%#= item.category.name %></td>-->
<!--        <td><%#= item.price %></td>-->
<!--        <td><%#= link_to 'Show', category_item_path(params["category_id"],item) %></td>-->
<!--        <td><%#= link_to 'Edit', edit_category_item_path(params["category_id"],item) %></td>-->
<!--        <td><%#= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <%# end %>
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<%#= link_to 'New Item', new_category_item_path %>
<div class="ui container">
  <div class="ui four cards">
    <div class="column">
      <div class="card">
        <div class="ui medium rounded image">
          <%#= image_tag(@item.image) %>
          <%= link_to new_category_item_path do %>
            <%= image_tag "avatar2/new_items.jpg", class: "ui medium image",style: "height:100%;width:100%" %>
            <div class="middle">
              <div class="text">Add New Items</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <% @items.each do |item| %>
    <div class="column">
      <div class="card">
        <div class="ui medium rounded image">
          <%#= image_tag(@item.image) %>
          <%= link_to category_item_path(params["category_id"],item) do %>
            <%= image_tag(item.image, :class=> "ui medium image",style: "height:100%;width:100%")  %>
            <div class="middle">
              <div class="text">Add New Items</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
      <%end %>
  </div>
</div>