<h1>Problem Set -1</h1>

<!--<ol>-->
<!--  <li><%#= link_to "Something divided by Zero",'zero_division_error' %></li>-->
<!--  <li><%#= link_to "Getting Data from AIT Main Page",'news_page' %></li>-->
<!--</ol>-->


<table>
  <tr >
    <td ><h3><%= link_to "Problem Set1",site_ps1_path %></h3></td>
    <td >
      <ol><li><h4><%= link_to "divided by Zero",site_zero_division_error_path %></h4></li><br/>
<!--        <h4><li><%#= link_to "SQL", sql_path %></li></h4>-->
        <h4><li><%= link_to "Data from AIT Main Page", site_news_page_path %></li></h4></ol></td>
    <td >
      <h4><ol>
        <li>In the First one i divided the number by the zero and i catch the error and displayed in new View</li>
        <li>Inthe Secound one i we did all about scraping the data from the AIT main website(ait.ac.th).We brought the titles,pics and given the links to the pics too.</li>
      </ol></h4>
    </td>
  </tr>
</table>