
@import "semantic-ui";


#mahesh{
  margin-top: 5%;
  //margin-top: 50%;
  //margin-left: 50%;
  //transform: translate(-50%, -50%);
  ////-ms-transform: translate(-50%, -50%);
  //text-align: center;
}
#maheshitems{
  margin-top: 1%;
  //margin-top: 50%;
  //margin-left: 50%;
  //transform: translate(-50%, -50%);
  ////-ms-transform: translate(-50%, -50%);
  //text-align: center;
};
#bg{
  //background-image: image-url("avatar2/coffee2.jpg");
  background-image: image-url("avatar2/bg1.jpg");
  width: 100%;
  height: 100%;
  //background-repeat: no-repeat;
  background-size: cover;
  //background-position: center;
  background-attachment: fixed;
  //overflow-y: hidden;
  overflow:hidden;
}#bg1{
  //background-image: image-url("avatar2/coffee2.jpg");
  background-image: image-url("avatar2/coffee2.jpg");
  width: 100%;
  height: 100%;
  //background-repeat: no-repeat;
  background-size: cover;
  //background-position: center;
  background-attachment: fixed;
  //overflow-y: hidden;
  overflow:hidden;
}

.text {
  background-color: #8127AF;
  color: white;
  font-size: 16px;
  padding: 10px 12px;
}

.middle{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.middle:hover{
  opacity: 1;
}
.card1:hover .image{
  opacity:0.5;
  transform: translateX(10%);
}

.card1 .middle1{
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;/*100%*/
  height: 100%;
  background: #ffc107;
  //background: gray;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}

.card1:hover .middle1{
  transform: perspective(2000px) rotateY(0deg);
}

.text1 {
  //background-color: white;
  //background-color: #8127AF;
  //color: black;
  //font-family: "Lucida Grande", Helvetica, sans-serif;
  font-family: "Courier New";

  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  //left: 50%;
  transform: translateY(-50%);
}

.card1 .middle1 .text1 h3 {
  margin: 0;
  padding: 0;
  color: #ff3636;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.card1 .middle1 .text1 h3 span{
  font-size: 14px;
  color:#262626
}